In [257]:
import pandas as pd
import numpy as np
from scipy import stats as stats
from scipy.stats import norm
from matplotlib import pyplot as plt

%matplotlib inline

In [258]:
raw_data = pd.read_csv('hw_25000.csv', delimiter=';', header=1, names=['Index', 'Height(Inches)', 'Weight(Pounds)'])

In [259]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
Index             25000 non-null int64
Height(Inches)    25000 non-null float64
Weight(Pounds)    25000 non-null float64
dtypes: float64(2), int64(1)
memory usage: 586.0 KB

In [260]:
raw_data['Height(Cm)'] = raw_data['Height(Inches)']*2.54
raw_data['Weight(Kg)'] = raw_data['Weight(Pounds)']*0.45

raw_data.head()

   Index  Height(Inches)  Weight(Pounds)  Height(Cm)  Weight(Kg)
0      1        65.78331        112.9925  167.089607   50.846625
1      2        71.51521        136.4873  181.648633   61.419285
2      3        69.39874        153.0269  176.272800   68.862105
3      4        68.21660        142.3354  173.270164   64.050930
4      5        67.78781        144.2971  172.181037   64.933695

In [261]:
raw_data['Sample_Height'] = raw_data['Height(Cm)']
raw_data['Sample_Weight'] = raw_data['Weight(Kg)']


raw_data.head()

,Index,Height(Inches),Weight(Pounds),Height(Cm),Weight(Kg),Sample_Height,Sample_Weight
0,1,65.78331,112.9925,167.089607,50.846625,167.089607,50.846625
1,2,71.51521,136.4873,181.648633,61.419285,181.648633,61.419285
2,3,69.39874,153.0269,176.272800,68.862105,176.272800,68.862105
3,4,68.21660,142.3354,173.270164,64.050930,173.270164,64.050930
4,5,67.78781,144.2971,172.181037,64.933695,172.181037,64.933695

In [288]:
raw_data.Sample_Height.describe()

count    25000.000000
mean       172.702509
std          4.830264
min        153.107034
25%        169.429170
50%        172.709078
75%        175.953312
max        190.888112
Name: Sample_Height, dtype: float64

In [262]:
mask_1 = (raw_data.Sample_Height >= 170)
mask_2 = (raw_data.Sample_Height <= 180)

In [263]:
raw_data_sorted = raw_data.loc[mask_1]
raw_data_sorted.head()

,Index,Height(Inches),Weight(Pounds),Height(Cm),Weight(Kg),Sample_Height,Sample_Weight
1,2,71.51521,136.4873,181.648633,61.419285,181.648633,61.419285
2,3,69.39874,153.0269,176.272800,68.862105,176.272800,68.862105
3,4,68.21660,142.3354,173.270164,64.050930,173.270164,64.050930
4,5,67.78781,144.2971,172.181037,64.933695,172.181037,64.933695
5,6,68.69784,123.3024,174.492514,55.486080,174.492514,55.486080

In [290]:
raw_data_sorted.Sample_Height.describe()

count    17787.000000
mean       175.025971
std          3.411931
min        170.000574
25%        172.316915
50%        174.486900
75%        177.167959
max        190.888112
Name: Sample_Height, dtype: float64

In [270]:
raw_data_sorted_final = raw_data_sorted[mask_2]
raw_data_sorted_final.head()

D:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,Index,Height(Inches),Weight(Pounds),Height(Cm),Weight(Kg),Sample_Height,Sample_Weight
2,3,69.39874,153.0269,176.272800,68.862105,176.272800,68.862105
3,4,68.21660,142.3354,173.270164,64.050930,173.270164,64.050930
4,5,67.78781,144.2971,172.181037,64.933695,172.181037,64.933695
5,6,68.69784,123.3024,174.492514,55.486080,174.492514,55.486080
6,7,69.80204,141.4947,177.297182,63.672615,177.297182,63.672615

In [289]:
raw_data_sorted_final.Sample_Height.describe()

count    16141.000000
mean       174.309435
std          2.633048
min        170.000574
25%        172.111721
50%        174.084158
75%        176.322126
max        179.999869
Name: Sample_Height, dtype: float64

In [278]:
sample = raw_data_sorted_final['Sample_Weight'].head(20).tolist()
sample

[68.86210500000001,
 64.05093,
 64.933695,
 55.48608,
 63.672615,
 61.408035,
 50.567535,
 51.364349999999995,
 56.524815,
 55.10781,
 52.23897,
 64.337985,
 55.820205,
 63.576315,
 64.59264,
 58.276215,
 63.832545,
 58.375980000000006,
 64.090575,
 59.19759]

In [279]:
np.mean(sample)

59.815849499999999

In [280]:
raw_data['Weight(Kg)'].mean()

57.18573952236008

In [281]:
stats.ttest_1samp( sample, raw_data['Weight(Kg)'].mean())

Ttest_1sampResult(statistic=2.2438433326709291, pvalue=0.036952752151285718)